services:
  backend:
    build: .
    container_name: backend
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres
    ports:
      - "8000:8000"

  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    env_file:
      - .env
    environment:
      PGDATA: /var/lib/postgresql/18/docker
    shm_size: 128mb
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local